body{
    background-color: black;
    color: lightgray;
    font-size: 28px;
    white-space: pre;
}
#board{
    width: 650px;
    height: 640px;
    text-align: center;
}
#clicks{
    margin-top: 0;
    text-align: left;
}
.gray_field
{
    background-color: lightgray;
    text-align: center;
    font-family: 'Inconsolata', cursive;
    border: solid 1px #222222;
    font-size: 48px;
    width: 70px;
    height: 70px;
    float: left;
}
.field{
    background-color: white;
    text-align: center;
    font-family: 'Inconsolata', cursive;
    border: solid 1px #222222;
    font-size: 48px;
    width: 70px;
    height: 70px;
    float: left;
}
